<ng-container *ngIf="configurationService.configuration$ | async as configuration">
  <ng-container *ngIf="authService.user$ | async as user; else loginButton">
    <mat-toolbar color="primary">
      <span (click)="navigateToRoot()" id="title">{{ configuration.Title }}</span>
      <span class="spacer"></span>
      <span id="username">{{ user.name }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <ng-template #loginButton>
        <button mat-icon-button aria-label="" (click)="navigateToLogin()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="authService.signOut()">
        <mat-icon>power_settings_new</mat-icon>
        <span>{{"HEADER.SIGNOUT" | translate }}</span>
      </button>
      <button mat-menu-item (click)="navigateToSettings()" *ngIf="user.isAdmin">
        <mat-icon>settings</mat-icon>
        <span>{{"HEADER.ADMINISTRATION" | translate }}</span>
      </button>
    </mat-menu>
  </ng-container>
</ng-container>