<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item>
                <span mat-line>Benutzer verwalten</span>
                <span mat-line>Benutzer anlegen, löschen und bearbeiten.</span>
            </a>

            <a mat-list-item>
                <span mat-line>Informationen verwalten</span>
                <span mat-line>Informationen anlegen, löschen und bearbeiten.</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-user-manager></app-user-manager>
    </mat-sidenav-content>
</mat-sidenav-container>