<app-chat-message></app-chat-message>
<app-chat-message [isIncoming]="true"></app-chat-message>
<app-chat-message></app-chat-message>
<app-chat-message [isIncoming]="true"></app-chat-message>
<app-chat-message></app-chat-message>
<app-chat-message [isIncoming]="true"></app-chat-message>
<app-chat-message></app-chat-message>
<app-chat-message [isIncoming]="true"></app-chat-message>
<app-chat-message></app-chat-message>
<app-chat-message [isIncoming]="true"></app-chat-message>
<app-chat-message></app-chat-message>
<app-chat-message [isIncoming]="true"></app-chat-message>
<app-chat-message></app-chat-message>
<app-chat-message [isIncoming]="true"></app-chat-message>