:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.mat-icon {
  max-width: 400px;
  margin: 1rem;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-form-field {
  display: block;
}

mat-card-actions {
  text-align: right;
}

mat-card-content {
  margin: 0;
}
