// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ChatBot-primary: mat-palette($mat-yellow, 600);
$ChatBot-accent: mat-palette($mat-blue-grey, 500);

// The warn palette is optional (defaults to red).
$ChatBot-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ChatBot-theme: mat-dark-theme(
  (
    color: (
      primary: $ChatBot-primary,
      accent: $ChatBot-accent,
      warn: $ChatBot-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ChatBot-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  flex: 1 1 auto;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background-accent {
  background-color: mat-color($ChatBot-accent);
}

.background-primary {
  background-color: mat-color($ChatBot-accent);
}

.color-primary {
  color: mat-color($ChatBot-primary);
}

.color-accent {
  color: mat-color($ChatBot-accent);
}
